$block: ".#{variables.$ns}form";
$block-element: ".#{variables.$ns}form-field";

#{$block} {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#{$block-element} {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  &__label {
    font-weight: var(--st-text-subheader-font-weight);
  }

  &__required-mark {
    margin-left: 2px;
    color: var(--st-color-text-danger);
    font-weight: var(--st-text-subheader-font-weight);
  }

  &__error {
    display: flex;
    flex-direction: column;
    color: var(--st-color-text-danger);
    font-size: var(--st-text-caption-font-size);
    line-height: var(--st-text-caption-line-height);
    row-gap: 4px;
  }
}
