@mixin variables {
  --st-font-family-sans: "Golos", "Helvetica", "Arial", sans-serif;

  --st-text-body-font-family: var(--st-font-family-sans);

  --st-text-header-1-font-size: 24px;
  --st-text-header-1-line-height: 32px;

  --st-text-header-2-font-size: 20px;
  --st-text-header-2-line-height: 24px;

  --st-text-subheader-1-font-size: 18px;
  --st-text-subheader-1-line-height: 24px;

  --st-text-subheader-2-font-size: 16px;
  --st-text-subheader-2-line-height: 20px;

  --st-text-body-font-size: 14px;
  --st-text-body-line-height: 20px;

  --st-text-caption-font-size: 12px;
  --st-text-caption-line-height: 16px;

  --st-text-header-font-weight: 600;
  --st-text-subheader-font-weight: 600;
  --st-text-body-font-weight: 400;
  --st-text-caption-font-weight: 400;

  font-family: var(--st-text-body-font-family);
  font-size: var(--st-text-body-font-size);
  font-weight: var(--st-text-body-font-weight);
  line-height: var(--st-text-body-line-height);
}
