$block: ".#{variables.$ns}sidebar";

#{$block} {
  --list-padding: 0 12px;
  --toggle-padding: 10px 12px;
  --header-padding: 24px;

  position: sticky;
  top: 0;
  display: flex;
  width: 256px;
  height: 100vh;
  flex-direction: column;

  // border-right: 1px solid var(--st-color-border-primary);
  background-color: var(--st-color-base-generic);

  &_collapsed {
    --list-padding: 0 8px;
    --toggle-padding: 10px;
    --header-padding: 32px 18px;

    width: 56px;

    & #{$block}__logo {
      display: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--header-padding);
  }

  &__logo {
    width: 172px;
    height: 36px;
    flex-shrink: 0;
  }

  &__toggle {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-icon {
      display: flex;
      width: 20px;
      height: 20px;
      flex-shrink: 0;

      & > svg {
        fill: var(--st-color-text-secondary);
      }
    }

    &-label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__list,
  &__footer {
    padding: var(--list-padding);
  }

  &__footer {
    margin-top: auto;
    margin-bottom: 12px;
  }
}
