$wrapper: ".#{variables.$ns}table-wrapper";
$block: ".#{variables.$ns}table";

#{$wrapper} {
  position: relative;
  overflow: auto;

  &_scroll {
    &_vertical {
      & #{$block}__head {
        position: sticky;
        top: 0;
        background-color: var(--st-color-base-background);
      }
    }
  }
}

#{$block} {
  border-spacing: 0;

  &__head &__cell {
    font-weight: var(--st-text-subheader-font-weight);
  }

  // Сортировка начало
  &__sort {
    display: inline-flex;
    column-gap: 4px;
    cursor: pointer;
    user-select: none;

    &_active {
      & #{$block}__sort-indicator {
        color: var(--st-color-text-primary);
      }
    }
  }

  &__sort-indicator {
    color: var(--st-color-text-hint);
  }

  &__cell {
    &_align_right {
      & #{$block}__sort {
        flex-direction: row-reverse;
      }
    }
  }

  // Сортировка конец

  &__body &__row {
    &:last-child {
      & #{$block}__cell {
        border-bottom: none;
      }
    }

    &:not(#{$block}__row_empty, #{$block}__row_selected):hover {
      background-color: var(--st-color-base-generic);
    }
  }

  &__row {
    &_selected {
      background-color: var(--st-color-base-selection);

      &:hover {
        background-color: var(--st-color-base-selection-hover);
      }
    }
  }

  &__row_empty &__cell {
    text-align: center;
  }

  &__cell {
    height: 40px;
    padding: 8px;
    border-bottom: 1px solid var(--st-color-border-primary);
    overflow-wrap: break-word;
    text-align: left;

    &_align {
      &_center {
        text-align: center;
      }

      &_right {
        text-align: right;
      }
    }

    &_checkbox {
      width: 40px;
      padding: 11px; // TODO: подумать как иначе выровнять по горизонтали
    }

    // TODO: Пока свойства word-wrap нет
    &:not(#{$block}__cell_word-wrap) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
